[submodule "ThirdParty/FNA"]
	path = ThirdParty/FNA
	url = git://github.com/FNA-XNA/FNA.git
[submodule "ThirdParty/FNALibs"]
	path = ThirdParty/FNALibs
	url = ssh://cyates@kiates-home.no-ip.org/mnt/raid/git/FNALibs.git
